.about    
  .container 

          
    .about__inner
      .about__bg
    
      .about__wrap
        h2.title.title_h1 See, what <br> we do

        p.title.title_subtitle.title_secondary The main task for us is developing. Development community <br> and Cosmos ecosystem 
          span it is only the first steps 
          | for us.

        .about__flex-wrap
          .about__flex-col
            .about__flex-item 
              .logo.logo_accent-color
                .logo__img
                  img(src="images/dist/logo.svg", alt="logo") 
                .logo__name 
                  span validator
                  |DAO
                .logo__name-sub Validator rektDAO is our subDAO. You can <br> delegate network tokens to our validator <br> rektDAO and thus support us

                a(href="validatordao.html").btn SEE MORE 

          .about__flex-col
            .about__flex-item 
              .logo.logo_third-color
                .logo__img
                  img(src="images/dist/logo.svg", alt="logo") 
                .logo__name 
                  span technic
                  |DAO
                .logo__name-sub One of our key focuses is the development of <br> blockchain applications and monitoring systems, <br> both independently and in collaboration  with other teams

                a(href="technicdao.html").btn SEE MORE 
          
