header.header
  .header__inner
    .header__logo 
      .header__logo-img 
        img(src="images/dist/logo.svg", alt="")
      
      span rekt 
      | DAO

    a(href="#").btn CONNECT WALLET   
    .hamburger
      span
      span
      span


