doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Pages list | Coral
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet')
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' rel='stylesheet')
    link(rel='stylesheet' href='styles/main.css')
    
    meta(name='theme-color' content='#A750FF')
    meta(name='msapplication-navbutton-color' content='#A750FF')
    meta(name='apple-mobile-web-app-status-bar-style' content='#A750FF')

    link(rel='shortcut icon' href='images/favicon.png' type='image/png')
    link(rel='apple-touch-icon' href='images/apple-touch-icon.png')
    link(rel='apple-touch-icon' sizes='72x72' href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='114x114' href='images/apple-touch-icon-114x114.png')
    

  body
    style.
      .logo {
        margin-bottom: 25px;
        position: relative;
        display: flex;
        justify-content: center;
      }
      .main {
      min-height: 100dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      background-size: cover;
      padding: 30px 0;
      position: relative;
      background-position: right top;
      overflow: hidden;
      }
      .main{
      background: #020202;
      }

      .wrap{
        width: 375px; 
        position: relative;
        z-index: 100;
      }

      .list ul li{
        position: relative;
        padding-left: 20px;
        list-style: none;
        margin-top: 5px
      }
      .list ul li:before{
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        border: 1px solid white;
        border-radius: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s;
      }
      .list ul li a{
        color: white;
        text-decoration: none;
        font-size: 14px;
        transition: all .3s;
        display: block
      }
      .list ul li:hover a{
        color: #A750FF;
      }
      .list ul li:hover:before{
        border-color: #A750FF;
      }

      .bg {
        position: absolute;
        height: 800px;
        top: 50%;
        width: 100%;
        max-width: calc( 1200px + 80px);
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url("images/dist/hero.webp");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat; 
        }

        .bg::before, .bg::after {
          position: absolute;
          content: '';
          height: 100%;
          width: 70px;
          background: linear-gradient(180deg, #020202 13.52%, #020202 100%);
          filter: blur(20px);
          top: 0; }
        .bg::before {
          left: -25px; }
        .bg::after {
          right: -25px; }

      .bg span {
        position: absolute;
        width: 100%;
        height: 100%
      }
      .bg span::before, .bg span::after {
          position: absolute;
          content: '';
          height: 70px;
          width: 100%;
          background: linear-gradient(180deg, #020202 13.52%, #020202 100%);
          filter: blur(20px);
      }

       .bg span::after {
        bottom: 0
               }
  
    .main
      .bg 
        span
      .wrap

        .logo
          img(src="images/dist/logo.svg", alt="")
        .list
          ul
            li
              a(target='_blank' href='main.html') Main
            li
              a(target='_blank' href='validatordao.html') ValidatorDAO
            li
              a(target='_blank' href='technicdao.html') TechnicDAO
            li
              a(target='_blank' href='blog.html') Blog
            li
              a(target='_blank' href='404.html') 404
            
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
